body {
    background-color: black;
  }

  h1 {
    text-align: center;
    color: crimson;
    padding: 50px;
    margin: auto;
  }

  h1:hover {
    color: rgb(150, 195, 179);
  }

  #p1{
    text-align: justify;
    padding: 60px;
    color:white;

  }

  .P2{
    text-align: center;
    color: white;
    padding: 15px 0px 0px 0px;
  }